<h1> Welcome <%= @username %> </h1>

<p>It is now <%= Time.now %> ... go to bed!!</p>

<p>To manage users, <a href="/users"> click here</a>.</p>

<p>To go to the posts, <a href="/posts"> click here</a>.</p>

<p>To go to the comments, <a href="/comments"> click here</a>.</p>